<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %} {% endblock %} - Verity</title>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='verity_style.css') }}"
        />
    </head>

    <body>
        <nav class="navbar">
            <div class="container navbar-content">
                <div class="navbar-brand">Verity</div>
                <div class="navbar-links">
                    <button id="theme-toggle" class="button button-secondary" aria-label="Toggle Theme">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </button>
                    <a href="{{ url_for('home.home_page') }}" class="button button-secondary">Home</a>
                    <a href="{{ url_for('home.stop_server') }}" class="button button-danger">Shutdown</a>
                </div>
            </div>
        </nav>

        <script>
            const toggleButton = document.getElementById('theme-toggle');
            const body = document.body;
            
            // Check for saved user preference, if any, on load of the website
            const currentTheme = localStorage.getItem('theme');
            if (currentTheme) {
                body.setAttribute('data-theme', currentTheme);
            }

            toggleButton.addEventListener('click', () => {
                let theme = body.getAttribute('data-theme');
                if (theme === 'light') {
                    body.removeAttribute('data-theme');
                    localStorage.setItem('theme', 'dark');
                } else {
                    body.setAttribute('data-theme', 'light');
                    localStorage.setItem('theme', 'light');
                }
            });
        </script>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
